{% extends 'accounts/profile.html' %}
{% load i18n %}
{% block title %}<title>{% trans 'New message' %}</title>{% endblock %}
{% block content %}
    <h2 class="sub-header">{% trans 'New message' %}</h2>
    <form action="{% url 'new_message' %}" method="post" class="form-signin" role="form">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% trans 'Phone number of recipient' as recipient %}
        {% render_field form.receiver class+="form-control new-msg" placeholder=recipient %}
        {{ form.receiver.errors }}
        {% trans 'Type a text' as type %}
        {% render_field form.text class+="form-control new-msg" placeholder=type %}
        {{ form.text.errors }}
        <div class="text-right new-msg">
            <input class="btn-info btn" type="reset" value="{% trans 'Clean' %}">
        </div>
        <div class="text-right new-msg">
            <button class="btn-info btn" type="submit">{% trans 'Send' %}</button>
        </div>
    </form>
{% endblock %}
