{% extends 'base.html' %}
{% load i18n %}
{% block navigator %}
    <li class="active"><a href="{% url 'profile' %}">{{ request.user.username }}</a></li>
    <li><a href="{% url 'new_message' %}">{% trans 'Create' %}</a></li>
    <li><a href="{% url 'inbox' %}">{% trans 'Inbox' %}</a></li>
    <li><a href="{% url 'sent' %}">{% trans 'Sent' %}</a></li>
    <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
{% endblock %}
{% block switch %}
    <input name="next" type="hidden" value="{% url 'profile' %}"/><br/>
{% endblock %}