{% extends 'base.html' %}
{% load i18n %}
{% block title %}<title>{% trans 'Confirmation' %}</title>{% endblock %}
{% block content %}
    <div class="login">
        <form action="{% url 'confirm' %}" method="post" class="form-signin" role="form">
            {% csrf_token %}
            <input type="text" class="form-control" name="code" placeholder="Enter code" required autofocus>
            <button class="btn btn-lg btn-default" type="submit">Confirm</button>
        </form>
    </div>
{% endblock %}
