<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>We connect people</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="form-group">
    <form action="/register/" method="post" class="form-inline">
        {% csrf_token %}
        <input type="text" class="form-control" id="exampleInputEmail3" name="phone" placeholder="enter your phone number"/>
        <input type="password" class="form-control" id="exampleInputEmail3" name="password" placeholder="enter password"/>
        <button type="submit" class="btn btn-default">Send</button>
    </form>
</div>
</body>
</html>