{% extends 'base.html' %}
{% block navigator %}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="#">Sign up</a></li>
    <li><a href="{% url 'login' %}">Sign in</a></li>
{% endblock %}
{% block content %}
    <form action="{% url 'signup' %}" method="post" class="form-signin" role="form">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign up</h2>
        {% load widget_tweaks %}
        {% render_field form.phone class+="form-control" placeholder="Phone number" %}
        {{ form.phone.errors }}
        {% render_field form.password class+="form-control" placeholder="Password" %}
        {{ form.password.errors }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
{% endblock %}
