{% extends 'base.html' %}
{% load i18n %}
{% block title %}<title>{% trans 'Sign up' %}</title>{% endblock %}
{% block navigator %}
    <li><a href="/">{% trans 'Home' %}</a></li>
    <li class="active"><a href="#">{% trans 'Sign up' %}</a></li>
    <li><a href="{% url 'login' %}">{% trans 'Sign in' %}</a></li>
{% endblock %}
{% block content %}
    <div class="login">
        <form action="{% url 'signup' %}" method="post" class="form-signin" role="form">
            {% csrf_token %}
            <h2 class="form-signin-heading">{% trans 'Please sign up' %}</h2>
            {% load widget_tweaks %}
            {% trans 'Phone number' as pn %}
            {% render_field form.phone class+="form-control" placeholder=pn %}
            {{ form.phone.errors }}
            {% trans 'Password' as psw %}
            {% render_field form.password class+="form-control" placeholder=psw %}
            {{ form.password.errors }}
            <button class="btn btn-lg btn-default" type="submit">{% trans 'Sign up' %}</button>
        </form>
    </div>
{% endblock %}
